body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.fondo{
  background-color: black;
  margin-top: 10px;
}
.encabezado{
  border: 1px solid grey;
  box-shadow: 0 0 8px grey;
  color: white;
}

.colorzila{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+51,0a0e0a+51,0a0809+100 */
background: rgb(174,188,191); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(10,14,10,1) 51%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(10,14,10,1) 51%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(10,14,10,1) 51%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */


}
.colorzila2{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0809+0,0a0e0a+49,0a0e0a+49,aebcbf+100 */
background: rgb(10,8,9); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,8,9,1) 0%, rgba(10,14,10,1) 49%, rgba(10,14,10,1) 49%, rgba(174,188,191,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 49%,rgba(10,14,10,1) 49%,rgba(174,188,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 49%,rgba(10,14,10,1) 49%,rgba(174,188,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=0 ); /* IE6-9 */


}

.padiing{
  padding: 4px;
  margin-right: 3px;
}

.padiing:hover{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.reproductor{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.boton{
  border-radius: 100%;
  margin-right: 15px;

}
.boton:hover{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0809+0,0a0e0a+49,0a0e0a+49,aebcbf+100 */
background: rgb(10,8,9); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,8,9,1) 0%, rgba(10,14,10,1) 49%, rgba(10,14,10,1) 49%, rgba(174,188,191,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 49%,rgba(10,14,10,1) 49%,rgba(174,188,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 49%,rgba(10,14,10,1) 49%,rgba(174,188,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=0 ); /* IE6-9 */
}
.textoblanco{
  color: white;
}

.sinp{
  list-style: none;
}

.sinp:hover{
  color:aqua;
}

li:active{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0809+0,0a0e0a+49,0a0e0a+49,aebcbf+100 */
background: rgb(10,8,9); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,8,9,1) 0%, rgba(10,14,10,1) 49%, rgba(10,14,10,1) 49%, rgba(174,188,191,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 49%,rgba(10,14,10,1) 49%,rgba(174,188,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(10,8,9,1) 0%,rgba(10,14,10,1) 49%,rgba(10,14,10,1) 49%,rgba(174,188,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=0 ); /* IE6-9 */
}
.mright{
  margin-right: 30px;
}

/*PARA para la barra de progreso*/
.barra{
  clear: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  height: 10px;
  background-color: grey;
  border-radius: 5px;
}
.progreso{
  margin-top: 20px;
  width: 50px;
  height:10px;
  background-color: #fff;
  border-radius: 5px;
}
#barra p{
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
}

.mt5{
  margin-bottom: 50px;
}
.pro{
  width: 50px;
  float: left;
}
.dur{
  float: right;
}